################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BilletLibrary/.vs/BilletLibrary/v15
